.about-main {
    display: block;
    margin-top: 5%;
}

.about-main h1 {
    margin-left: 5%;
}

.officers {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(1fr);
}

.officercard {
    background: #2f3136;
    margin: 1% auto;
    text-align: center;
    border-radius: 50px;
}

.officercard h3 {
    margin: 5%;
    color: #fdbf32;
}

.officercard ul {
    margin: 5%;
    padding: 5%;
    list-style-position: inside;
}

.officer-image {
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

#officer1 {
    grid-row: 1/2;
    grid-column: 1/2;
}
#officer2 {
    grid-row: 1/2;
    grid-column: 3/4;
}
#officer3 {
    grid-row: 1/2;
    grid-column: 5/6;
}
#officer4 {
    grid-row: 2/3;
    grid-column: 2/3;
}
#officer5 {
    grid-row: 2/3;
    grid-column: 4/5;
}

.mission, .previous {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    border-radius: 50px;
    background: #2f3136;
}

.mission h3 {
    text-align: center;
    padding: 5%;
    color: #fdbf32;
}

.previous h3 {
    text-align: center;
    color: #fdbf32;
}

.projects {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.project {
    background: #2f3136;
    margin: 1% auto;
    text-align: center;
    border-radius: 50px;
}

.project h3 {
    margin: 5%;
}

.projectdesc {
    margin: 10%;
}

.projectdesc a {
    color: #fdbf32;
}

#project1 {
    grid-column: 1/2;
}
#project2 {
    grid-column: 2/3;
}
#project3 {
    grid-column: 3/4;
}

@media screen and (max-width: 1024px) {
    #officer1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    #officer2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    #officer3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    #officer4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    #officer5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }    

    #project1 {
        grid-column: 1/2;
    }
    #project2 {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    #project3 {
        grid-row: 3/4;
        grid-column: 1/2;
    }
}