.removal-main {
    /* background: blue; */
    display: grid;
    width: 98%;
    margin-top: 5%;
    padding: 1%;
    grid-template-columns: 1fr;
    gap: 20px;
}

.removal-main h1 {
    margin-left: 5%;
}

.form-holder {
    background: #2f3136;
    text-align: center;
    height: 800px;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
}

form {
    margin-top: 25px;
    padding: 50px;
}

form input, #comments {
    padding: 10px;
    background-color: #40444b;
    border-radius: 10px;
    border: 2px solid #40444b; 
}

.submit:hover {
    cursor: pointer;
}
