.verification-main {
    /* background: blue; */
    display: grid;
    width: 98%;
    margin-top: 5%;
    padding: 1%;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.verification-main h1 {
    margin-left: 5%;
}

.form-holder, .form-info {
    background: #2f3136;
    text-align: center;
    height: 600px;
    border-radius: 50px;
}

.form-holder {
    grid-column: 1/2;
}

form {
    padding: 50px;
}

form input {
    padding: 10px;
    background-color: #40444b;
    border-radius: 10px;
    border: 2px solid #40444b; 
}

.submit:hover {
    cursor: pointer;
}

.desktop-image, .mobile-image {
    background: black;
    width: 50%;
    height: 250px;
    margin-left: 25%;
    margin-top: 50px;
}

.mobile-image {
    margin-top: 10px;
}