{% extends "mainlayout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
        
<div class="event-main">
    <h1>
        Current Events
    </h1>
    <div class="current">
        <div class="currentevent" id="current1">
            <h3>
                Study Grinds!
            </h3>
        </div>
        <div class="currentevent" id="current2">
            <h3>
                AMA Podcasts!
            </h3>
        </div>
        <div class="currentevent" id="current3">
            <h3>
                AMA Text Channels!
            </h3>
        </div>
    </div>
    <h1>
        Past Events
    </h1>
    <div class="past">
        <div class="pastevent" id="past1">
            <h3>
                AMA Podcast with Dr. Omer Blaes
            </h3>
        </div>
        <div class="pastevent" id="past2">
            <h3>
                AMA Podcast with Dr. Deborah Fygenson
            </h3>
        </div>
        <div class="pastevent" id="past3">
            <h3>
                Game Nights
            </h3>
        </div>
    </div>
</div>

{% endblock %}