{% extends "mainlayout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">

<div class="forms-main">
    <h1>Forms</h1>
    <div class="forms">
        <div class="forms-card" id="forms-card2">
            <div class="forms-card-image">
                image1
            </div>
            <div class="forms-card-title">
                <h2><a href="/forms/verification">Verification Form</a></h2>
            </div>
            <div class="forms-card-desc">
                <p>Verification description</p>
            </div>
        </div>
        <div class="forms-card" id="forms-card2">
            <div class="forms-card-image">
                image2
            </div>
            <div class="forms-card-title">
                <h2><a href="/forms/removal">Removal Form</a></h2>
            </div>
            <div class="forms-card-desc">
                <p>Removal description</p>
            </div>
        </div>
        <div class="forms-card" id="forms-card3">
            <div class="forms-card-image">
                image3
            </div>
            <div class="forms-card-title">
                <h2><a href="/forms/emoji">Emoji Request Form</a></h2>
            </div>
            <div class="forms-card-desc">
                <p>Emoji description</p>
            </div>
        </div>
        <div class="forms-card" id="forms-card4">
            <div class="forms-card-image">
                image4
            </div>
            <div class="forms-card-title">
                <h2><a href="/forms/ticket">Ticket Submission Form</a></h2>
            </div>
            <div class="forms-card-desc">
                <p>Ticket description</p>
            </div>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <link rel="stylesheet" href="{{ url_for('static', filename='confirmation.css') }}">
            <div class="confirmation" class="alert alert-{{ category }}">
                <h1>{{ message }}</h1>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}



{% endblock %}