{% extends "mainlayout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='admin_sign_in.css') }}">

        <div class="admin-main">
            <h1>UCSB Physics Discord Admin Page</h1>
            <div class="sign-in">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}  
                    {{ form.username.label() }}<br><br>
                    {{ form.username(size=30, placeholder="username") }}<br><br><br>
                    
                    {{ form.password.label() }}<br><br>
                    {{ form.password(size=30, placeholder="password") }}<br><br><br>
                    
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="invalid">
                                    <span>{{ message }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {{ form.submit(class="submit") }}
                </form>
            </div>
            <div class="description">
                <p>This page is only for current UCSB Physics Discord Admins. Here you will be able to view all Forms Responses, get info from users, and modify anything if needed.</p>
            </div>
        </div>

{% endblock %}