{% extends "mainlayout.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<div class="home-main">
    <div class="welcome">
        <h1>Welcome to UCSB Physics Discord</h1>
    </div>

    <div class="joinbutton">
        <button class="join" onclick="location.href='https://discord.gg/PzPbSUm'" type-"button" target="_blank">Join Here!</button>
    </div>

    <div class="card">
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/home/CourseSelection_Home.png') }}" width=100% alt="Course Selection">
        </div>
        <div class="description">
            <h2>
                For each physics course taught at UCSB we have a dedicated message and voice channels. Here you can talk to classmates, TAs, LAs, and even some Professors!. 
            </h2>
        </div>
    </div>
    
    <div class="card">
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/home/Announcement_Home.png') }}" width=100% alt="Announcments">
        </div>
        <div class="description">
            <h2>
                We also strive to bring important announcments to the physics community. Announcments can range from course updates, club events, department news, general UCSB news, etc.  
            </h2>
        </div>
    </div>
    
    <div class="card">
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/home/Resources_Home.png') }}" width=100% alt="Resources">
        </div>
        <div class="description">
            <h2>
                We also foster one of the primary resources for students to ask questions about the physics department, courses, or major. 
                These questions can be answered almost immediately for any one of our active peers.
            </h2>
        </div>
    </div>
    
    <div class="card">
        <div class="image-holder">
            <img src="{{ url_for('static', filename='images/home/Growing_Home.png') }}" width=100% alt="Growing Community">
        </div>
        <div class="description">
            <h2>
                Since the start of this Discord Server we have been growing and evolving, we hope you can join us in creating a beautiful physics community here at UCSB Physics Discord. 
            </h2>
        </div>
    </div>
               
</div>
                
</div>

{% endblock content%}