<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='mainlayout.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/Logo.png') }}">

        {% if title %}
            <title>Physics Discord - {{title}}</title>
        {% else %}
            <title>UCSB Physics Discord</title>
        {% endif %}

    </head>

    <body>
        <div class="header">
            <div class="nav">
                <ul class="leftnav">
                    <li>
                        <a href="{{ url_for('about') }}" class="navbutton">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('events') }}" class="navbutton">Events</a>
                    </li>
                    <li>
                        <a href="{{ url_for('resources') }}" class="navbutton">Resources</a>
                    </li>
                </ul>
            </div>
            <div class="logo">
                <a  href="{{ url_for('home') }}"><img class="logoimg" src="/static/images/Logo.png" width=200></a>
            </div>
            <div class="nav">
                <ul class="rightnav">
                    <li>
                        <a href="{{ url_for('gettingstarted') }}" class="navbutton">Getting Started</a>
                    </li>
                    <li>
                        <a href="{{ url_for('botguide') }}" class="navbutton">Bot Guide</a>
                    </li>
                    <li>
                        <a href="{{ url_for('forms') }}" class="navbutton">Forms</a>
                    </li>
                </ul>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="footer">
            <div class="footerimg">
                <a href="https://www.ucsb.edu"><img alt="UC Santa Barbara" src="/static/images/UC_Santa_Barbara_Wordmark_Navy_RGB.png" width=450></a>
            </div>
            <div class="contact">
                Contact Us: <a>physics-discord@ucsb.edu</a>
            </div>
            <div class="copy">
                &copy;2021 UCSB Physics Discord
            </div>
        </div>

    </body>
</html>