.admin-home-main {
    display: grid;
    width: 98%;
    margin-top: 5%;
    padding: 1%;
    grid-template-columns: 1fr;
    gap: 20px;
}

.admin-home-main h1 {
    margin-left: 5%;
}

.logout {
    position: absolute;
    right: 15%;
    
}

.logout a, .button {
    color: #fdbf32;
}

.logout a:hover {
    text-decoration: underline;
}

.info {
    background: #2f3136;
    text-align: center;
    width: 80%;
    height: 500px;
    margin: auto;
    overflow: scroll;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

th {
    background-color: #fdbf32;
}

tr:nth-child(even) {
    background-color: #003560;
}

tr:nth-child(odd) {
    background-color: #9999A1;
}

.button-house {
    margin-left: 80%;
}