.gettingstarted-main {
    display: block;
    width: 100%;
    margin-top: 5%;
}

.gettingstarted-main h1 {
    margin-left: 5%;
}

.gettingstarted {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    display: grid;
    padding: 1%;
    gap: 20px;
}

.roleselection {
    display: grid;
    grid-template-rows: 400px 400px 400px 400px;
    gap: 20px;
}

.roleselection-card {
    background: #2f3136;
    text-align: center;
    border-radius: 50px;
}

#roleselection-card1 {
    grid-row: 1/2;
}

#roleselection-card2 {
    grid-row: 2/3;
}

#roleselection-card3 {
    grid-row: 3/4;
}

#roleselection-card4 {
    grid-row: 4/5;
}

.guidelines {
    display: grid;
    grid-template-rows: 400px;
    gap: 20px;
}

.guidelines-card {
    background: #2f3136;
    text-align: center;
    border-radius: 50px;
}

.policy {
    display: grid;
    grid-template-rows: 400px;
    gap: 20px;
}

.policy-card {
    background: #2f3136;
    text-align: center;
    border-radius: 50px;
}

