* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.header {
    background-color: #36393f;
    display:inline-flex;
    text-decoration: none;
    align-items: center;
    width: 100%;
}

.mobilenav, .mobilenavbutton {
    display: none;
}

.nav {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.leftnav, .rightnav {
    text-decoration-style: none;
    list-style-type: none;
    display: inline-flex;
}

.navbutton {
    display:inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 35px;
}

.navbutton:hover {
    color: white;
    border-radius: 50px;
    background-color: #2f3136;
}

.logo {
    width: 25%;
    height: 100px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logoimg {
    min-width: 60%;
    max-width: 60%;
    height: 100px;
    object-fit: contain;
}

.footer {
    background-color: #36393f;
    padding: 50px;
    text-align: bottom;
}

.contact, .copy {
    text-align: right;
}

.contact a {
    color: #fdbf32;
}

body {
    background: #36393f;
}

@media screen and (max-width: 1024px) {
    .leftnav, .rightnav {
        display: none;
    }

    .logoimg {
        min-width: 60%;
        max-width: 100%;
        height: 150%;
    }

    .navburger {
        position: absolute;
        right: 10%;
        cursor: pointer;
    }

    .navburger div{
        width: 40px;
        height: 10px;
        border-radius: 5px;
        background-color: #fdbf32;
        margin: 5px;
    }

    .mobilenav {
        position: absolute;
        right: 0;
        top: 10%;
        width: 100%;
        text-decoration-style: none;
        list-style-type: none;
        display: none;
        background-color: #003560;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .mobilenav li {
        opacity: 0;
    }

}

.navburger-active {
    transform: translateX(0%);
    display: inline-flex;
}

@keyframes navFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }    

    to {
        opacity: 1;
        transform: translateX();
    }
}